.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='808080' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='808080' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.nav-pill-scroll-box {
  height: 90%;
  overflow: auto;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 12px;
}

.quantity-input {
  width: 110px !important;
}

// Small devices (landscape phones, 768px and below)
@media (max-width: 767.98px) {
  .nav-pill-scroll-box {
    overflow: visible;
    border-top: 1px solid lightgray;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
    padding-bottom: 0;
  }
  .modal-footer {
    padding: 10px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .modal-dialog-scrollable .modal-body {
    overflow: visible;
    overflow-y: hidden;
  }
}
