///////////////////////////
//// MODAL BODY STYLES ////
///////////////////////////

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #product-modal-body {
    overflow: visible;
    overflow-y: hidden;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  #product-modal-body {
    overflow: visible;
    overflow-y: hidden;
  }
}

// Small to medium devices (landscape phones, 992px and below)
@media (max-width: 991.98px) {
  #product-modal-body {
    overflow: visible;
    overflow-y: auto;
  }
}

/////////////////////////
//// CAROUSEL STYLES ////
/////////////////////////

#carousel-next,
#carousel-prev {
  filter: invert(100%);
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25) !important;
}

.carousel-indicators .active {
  background-color: #444 !important;
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .product-modal-carousel {
    height: 300px !important;
  }
  #product-modal-img {
    height: 300px;
  }
}
// Large devices (desktops, 992px to 1200px)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .product-modal-carousel {
    height: 200px !important;
  }
  #product-modal-img {
    height: 200px;
  }
}
// Small to medium devices (landscape phones, 992px and below)
@media (max-width: 991.98px) {
  .product-modal-carousel {
    height: 200px !important;
  }
  #product-modal-img {
    height: 200px;
  }
}

/////////////////////////
//// ADDSPACE STYLES ////
/////////////////////////

.add-space {
  display: block;
  width: auto;
  margin: 8px 0 0 0;
  background-color: lightgray;
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .add-space {
    height: 300px;
  }
}
// Large devices (desktops, 992px to 1200px)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .add-space {
    height: 200px;
  }
}
// Small to medium devices (landscape phones, 992px and below)
@media (max-width: 991.98px) {
  .add-space {
    display: none;
  }
}

//////////////////////////
//// SCROLLBOX STYLES ////
//////////////////////////

.nav-pill-scroll-box-header {
  border-bottom: 2px solid #007bff;
}

.nav-pills .nav-link {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .nav-pill-scroll-box {
    overflow-y: auto;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 12px;
    height: 550px;
  }
}
// Large devices (desktops, 992px to 1200px)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .nav-pill-scroll-box {
    overflow-y: auto;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 12px;
    height: 350px;
  }
}
// Small to medium devices (landscape phones, 992px and below)
@media (max-width: 991.98px) {
  .nav-pill-scroll-box {
    overflow: visible;
    border: none;
    padding-bottom: 0;
  }
}

///////////////////////
//// FOOTER STYLES ////
///////////////////////

#product-modal-quantity-input {
  width: 110px;
}

// Small to medium devices (landscape phones, 992px and below)
@media (max-width: 991.98px) {
  #product-modal-footer {
    padding: 10px;
  }
}
