///////////////////////////
//// MODAL BODY STYLES ////
///////////////////////////

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #qbc-eshop-product-modal .modal-body {
    overflow: visible;
    overflow-y: hidden;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  #qbc-eshop-product-modal .modal-body {
    overflow: visible;
    overflow-y: hidden;
  }
}

// Small to medium devices (landscape phones, 992px and below)
@media (max-width: 991.98px) {
  #qbc-eshop-product-modal .modal-body {
    overflow: visible;
    overflow-y: auto;
  }
}

/////////////////////////
//// CAROUSEL STYLES ////
/////////////////////////

#qbc-eshop-product-modal #carousel-next,
#qbc-eshop-product-modal #carousel-prev {
  filter: invert(100%);
}

#qbc-eshop-product-modal .carousel-indicators li {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25) !important;
}

#qbc-eshop-product-modal .carousel-indicators .active {
  background-color: #444 !important;
}

#qbc-eshop-product-modal .carousel-item {
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #qbc-eshop-product-modal .carousel .slide {
    height: 300px !important;
  }
  #qbc-eshop-product-modal .carousel-item {
    height: 300px;
  }
}
// Large devices (desktops, 992px to 1200px)
@media (min-width: 992px) and (max-width: 1199.98px) {
  #qbc-eshop-product-modal .carousel .slide {
    height: 200px !important;
  }
  #qbc-eshop-product-modal .carousel-item {
    height: 200px;
  }
}
// Small to medium devices (landscape phones, 992px and below)
@media (max-width: 991.98px) {
  #qbc-eshop-product-modal .carousel .slide {
    height: 200px !important;
  }
  #qbc-eshop-product-modal .carousel-item {
    height: 200px;
  }
}

/////////////////////////
//// ADSPACE STYLES ////
/////////////////////////

#qbc-eshop-product-modal .ad-space {
  display: block;
  width: auto;
  margin: 8px 0 0 0;
  background-color: lightgray;
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #qbc-eshop-product-modal .ad-space {
    height: 300px;
  }
}
// Large devices (desktops, 992px to 1200px)
@media (min-width: 992px) and (max-width: 1199.98px) {
  #qbc-eshop-product-modal .ad-space {
    height: 200px;
  }
}
// Small to medium devices (landscape phones, 992px and below)
@media (max-width: 991.98px) {
  #qbc-eshop-product-modal .ad-space {
    display: none;
  }
}

//////////////////////////
//// SCROLLBOX STYLES ////
//////////////////////////

#qbc-eshop-product-modal .nav-pill-scroll-box-header {
  border-bottom: 2px solid #007bff;
}

#qbc-eshop-product-modal .nav-pills .nav-link {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #qbc-eshop-product-modal .nav-pill-scroll-box {
    overflow-y: auto;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 12px;
    height: 550px;
  }
}
// Large devices (desktops, 992px to 1200px)
@media (min-width: 992px) and (max-width: 1199.98px) {
  #qbc-eshop-product-modal .nav-pill-scroll-box {
    overflow-y: auto;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 12px;
    height: 350px;
  }
}
// Small to medium devices (landscape phones, 992px and below)
@media (max-width: 991.98px) {
  #qbc-eshop-product-modal .nav-pill-scroll-box {
    overflow: visible;
    border: none;
    padding-bottom: 0;
  }
}

///////////////////////
//// FOOTER STYLES ////
///////////////////////

#qbc-eshop-product-modal .modal-footer {
  flex-wrap: nowrap;
}

#qbc-eshop-product-modal .form-control-lg {
  width: 110px;
}

// Small to medium devices (landscape phones, 992px and below)

@media (max-width: 991.98px) {
  #qbc-eshop-product-modal .modal-footer {
    padding: 10px;
  }
}

//////////////////////////////
//// Invalid Modal Stlyes ////
//////////////////////////////

#qbc-eshop-product-modal-invalid-input .modal-content {
  border: 2px solid black;
}

#qbc-eshop-product-modal-invalid-input .modal-header {
  padding: 0.5rem 1rem;
  color: #dc3545;
  background-color: darkslategray;
  border-bottom: 2px solid black;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
}

#qbc-eshop-product-modal-invalid-input .material-icons {
  font-size: 30px;
  vertical-align: text-top;
}

#qbc-eshop-product-modal-invalid-input .invalid-title {
  font-size: 24px;
  margin-left: 5px;
  color: lightgray;
}
